 
 
 .manage-spots-container { 
    border: 1px solid red;
}

.manage-single-spot-container{
    display: flex;
}

.manage-spots-header{
    margin: 0px 30px;
}

.manage-single-spot {
    width: 200px;
    margin: 30px 30px 30px 30px;
}

.manage-spot-image {
    max-width: 80%;
}


