
.star-rating-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}


.star {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}


.star.filled {
  color: #ffd700; 
}


.star:hover {
  transform: scale(1.2); 
}


.star-rating-container span {
  display: inline-block;
  line-height: 1;
}