.profile-dropdown {
    border: 1px solid black;
	background-color: white;
	position: absolute;
	right: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.1rem;
	padding: 0.2rem;
	cursor: pointer;
	width: 165px;
	box-shadow: 6px 4px 12px darkgrey;
    list-style: none;
}

.profile-dropdown.hidden {
    display: none;
}

.profile-button:hover {
	cursor: pointer;
}
